:root{
    --Background-Color: yellow;
    --Color-One: #000;
    --Color-Two: #fff;
    --Color-Three: #076e18;
    --Color-Four: #3ae7f0;
    --Font-One: 'Bitter', serif;
    --Font-Two: 'Commissioner', sans-serif;
    --Font-Three: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.section_p{
    padding: 25px 100px;
}
.section_m{
    margin: 50px 75px;
}
body{
    background-image: url(/images/background_image.png);
    background-color: var(--Background-Color);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h3,
header h3 a{
    font-family: var(--Font-Three);
    font-weight: 700;
    font-size: 1.4em;
    text-decoration: none;
    color: var(--Color-Three);
    cursor: pointer;
}
header h3,
header h3 a:hover{
    color: var(--Color-Two);

}
header h3 a span:hover{
    color: var(--Color-Three);
}
header h3 a span{
    color: var(--Color-Two);
}
header button{
    padding: 5px 7px;
    border: none;
    border-radius: 6px;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: var(--Font-Two);
    font-weight: 500;
    cursor: pointer;
    width: 10em;
    height: 50px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
header button:hover{
    border: 3px solid var(--Color-Two);
    color: var(--Color-Two);
}
main{
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
}
.main-navigation{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.secondary-navigation{
    display: flex;
}
.main-navigation i{
    padding: 7px;
    font-size: 1.5em;
    color: var(--Color-Three);
    cursor: pointer;
}
.main-navigation i:hover{
    color: var(--Color-One);
}
.main-navigation i a{
    padding-left: 8px;
    font-family: var(--Font-Three);
    font-weight: 700;
    text-decoration: none;
    color: var(--Color-One);
    text-transform: uppercase;
}
.main-navigation i a:hover{
    color: var(--Color-One);
}
aside{
    width: 16%;
}
section{
    padding-top: 2em;
    width: 90%;
}
section p{
    font-family: var(--Font-One);
    font-weight: 600;
    font-size: 3.7em;
    text-align: center;
}
section p span{
    color: var(--Color-Three);
}
section p:hover{
    color: var(--Color-Two);
}
footer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    text-decoration: none;
}
.icon_slider{
    max-width: 200px;
    position: relative;
    margin: auto;
}
.slide{
    display: none;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
footer a{
    text-decoration: none;
    color: var(--Color-One);
    font-family: var(--Font-One);
    font-weight: 700;
}