:root{
    --Background-Color: yellow;
    --Color-One: #000;
    --Color-Two: #fff;
    --Color-Three: #076e18;
    --Color-Four: #3ae7f0;    
    --Color-Five: #503fa0;
    --Color-Six: #FFFDD0;
    --Color-Seven: #050505;
    --Color-Eight: #190127;
    --Font-One: 'Bitter', serif;
    --Font-Two: 'Commissioner', sans-serif;
    --Font-Three: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.section_p{
    padding: 25px 100px;
}
.section_p1{
    padding: 25px 50px;
}
.section_m{
    margin: 50px 75px;
}
body{
    background-image: url(/images/background_image.png);
    background-color: var(--Background-Color);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h3,
header h3 a{
    font-family: var(--Font-Three);
    font-weight: 700;
    font-size: 1.4em;
    text-decoration: none;
    color: var(--Color-Three);
    cursor: pointer;
}
header h3,
header h3 a:hover{
    color: var(--Color-Two);

}
header h3 a span:hover{
    color: var(--Color-Three);
}
header h3 a span{
    color: var(--Color-Two);
}
header button{
    padding: 5px 7px;
    border: none;
    border-radius: 6px;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: var(--Font-Two);
    font-weight: 500;
    cursor: pointer;
    width: 10em;
    height: 50px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
header button:hover{
    border: 3px solid var(--Color-Two);
    color: var(--Color-Two);
}
main{
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
}
.main-navigation{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.main-navigation i{
    padding: 7px;
    font-size: 1.5em;
    color: var(--Color-Three);
    cursor: pointer;
}
.main-navigation i:hover{
    color: var(--Color-One);
}
.main-navigation i a{
    padding-left: 8px;
    font-family: var(--Font-Three);
    font-weight: 700;
    text-decoration: none;
    color: var(--Color-One);
    text-transform: uppercase;
}
.main-navigation i a:hover{
    color: var(--Color-One);
}
aside{
    width: 16%;
}
section{
    padding-top: 2em;
    width: 90%;
}
section p{
    font-family: var(--Font-One);
    font-weight: 600;
    font-size: 3.7em;
    text-align: center;
}
section p span{
    color: var(--Color-Three);
}
section p:hover{
    color: var(--Color-Two);
}
footer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    text-decoration: none;
}
.icon_slider{
    max-width: 200px;
    position: relative;
    margin: auto;
}
.slide{
    display: none;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
footer a{
    text-decoration: none;
    color: var(--Color-One);
    font-family: var(--Font-One);
    font-weight: 700;
}
/* PORTFOLIO PAGE STYLING */
.portfolio_body{
    background-color: var(--Color-Five);
}
.portfolio_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.menu i{
    font-size: 1em;
}
.menu i a{
    text-decoration: none;
    font-family: var(--Font-Two);
    color: var(--Color-Two);
    font-size: 1em;
    font-weight: 600;
    padding: 5px;
}
.menu i,
.menu i a:hover{
    color: var(--Color-One);
}
.active{
    color: var(--Color-One);
}
.title_heading{
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title_heading h2{
    font-family: var(--Font-One);
    font-weight: 500;
}
.title_heading hr{
    align-self: center;
    color: var(--Color-Two);
    width: 5%;
}
.portfolio_content{
    padding-top: 30px;
}
.portfolio_content p{
    font-family: var(--Font-Two);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--Color-Four);
    text-align: center;
}
.portfolio_main{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    width: 100%;
}
.portfolio_main table{
    border-collapse: collapse;
}
.portfolio_main table th{
    font-size: 1.35em;
    font-family: var(--Font-One);
    color: var(--Color-Two);
    padding-top: 1em;
    padding-bottom: 0.5em;
    cursor: pointer;
} 
.portfolio_main table td{
    font-size: 1.1em;
    font-weight: 400;
    font-family: var(--Font-Two);
    color: var(--Color-Six);
    padding-top: 1em;
    padding-bottom: 0.5em;
    cursor: pointer;
}
.portfolio_header{
    border-bottom: 1px solid var(--Color-Two);
    padding-bottom: 1em;
}
.portfolio_cont{
    border-bottom: 1px solid var(--Color-One);
}
.portfolio_main table th{
    text-align: left;
}
.button_portfolio{
    display: flex;
    justify-content: center;
}
.button_portfolio button{
    margin-top: 2em;
    background-color: transparent;
    color: var(--Color-Two);
    font-family: var(--Font-Three);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}
.button_portfolio button:hover{
    color: var(--Color-One);
    border: 1px solid var(--Color-One);
}
/* MY SKILLS PAGE STYLING */
.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
}
.skill{
    display: flex;
    width: 50%;
    padding-bottom: 1em;
}
.skill_left{
    display: flex;
    padding-left: 50%;
    width: 100%;   
}
.skill,
.skill_left{
    gap: 1em;
    align-items: center;
}
.skill img,
.skill_left img{
    width: 100px;
    height: 100px;
}
.skill span,
.skill_left span{
    width: 420px;
    font-family: var(--Font-Two);
    font-weight: 600;
}

/* BLOG PAGE STYLING */
.blog_container{
    display: flex;
    width: 100%;
}
.blogs{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.blog{
    display: flex;
    width: 100%;
    padding: 1em;
    gap: 1em;
    align-items: center;
    border-bottom: 1px solid var(--Color-Six);
}
.blog img{
    width: 75px;
    height: 75px;
}
.blog_details{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
} 
.blog_details h4{
    font-family: var(--Font-Three);
    font-size: 1.3em;
    font-weight: 600;
}
.blog_details span{
    width: 100%;
    font-family: var(--Font-Two);
    font-weight: 400;
    color: var(--Color-Seven);
}
.blog_details button{
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    color: var(--Color-Six);
}
.blog_details button:hover{
   color: var(--Color-Eight);
   font-weight: 700;
}
.button_blog{
    justify-content: center;
    display: flex;
}
.button_blog button{
    border: none;
    background: transparent;
    padding: 10px;
    font-family: var(--Font-Three);
    font-size: 1em;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.button_blog button:hover{
    padding: 10px;
    color: var(--Color-Six);
    text-decoration: none;
}
.blogs_aside{
    width: 30%;
    padding: 1em  2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.aside_det{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.aside_det h4{
    font-size: 1.1em;
    font-family: var(--Font-Two);
    font-weight: 600;
}
.aside_det hr{
    color: var(--Color-Six);
    border: 0.5px solid;
}
.aside_blog{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.aside_bd{
    display: flex;
    flex-direction: column;
}
.aside_bd button{
    margin-top: 1em;
    background-color: var(--Color-Seven);
    border-radius: 5px;
    padding: 8px 5px;
    border: none;
    width: 100px;
    color: var(--Color-Six);
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
}
.aside_bd button:hover{
    color: var(--Color-Eight);
    border: 1px solid var(--Color-Eight);
    background-color: transparent;
    width: 100px;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: 600;
}
.aside_bd h5{
    font-size: 1em;
    font-family: var(--Font-Two);
    font-weight: 600;
}
.aside_bd p{
    font-size: 0.9em;
    font-weight: 300;
    font-family: var(--Font-Two);
    color: var(--Color-Six);
}


